.line {
    fill:none;
    stroke-width: 5px;
    
}

.line:hover {
    stroke-width:8px;
}


.line1 { stroke:blue }

.line2 { stroke:orange }

.line3 { stroke:red }
5
.line4 { stroke:green }

.line5 { stroke:purple }
.line6 { stroke:black;}
